*{
    margin: 0px;
    padding: 0px;
}
/* header section start */
header {
    background-color: black;
    min-height: 300px;
}
.heading-text h1 {
    font-size: 70px;
    color: #FF5E19;
    font-family: 'Berkshire Swash', cursive;
}
.heading-text p {
    font-size: 20px;
    color: #ffffff;
}
/* header section end */
.col .card{
    background: black;
}
.card{
    background-color: black;
    text-align: center;
}
.card-title {
    color: #ffffff;
}
.card-text {
    color: #B3B3B3;
}